.weatherMain {
    border-radius: 10px;
    padding-top: 15px;
    /*background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );*/
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.startText {
    width: 650px;
    text-align: center;
    margin-top: -100px;
    font-weight: 300;
}

.formSearchCity {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    margin: 0 auto;
    justify-content: space-between;
}

.searchInput {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}

.searchButton {
    height: 40px;
    width: 100px;
    color: black;
    border: solid 1px white;
    background: white;
    border-radius: 5px;
    margin-left: 10px;
}

.geoPositionButton {
    height: 40px;
    width: 100px;
    color: black;
    border: solid 1px white;
    background: white;
    border-radius: 5px;
    margin-right: 10px;
}


.searchButton:hover {
    background: transparent;
    color: white;
}

.geoPositionButton:hover {
    background: transparent;
    color: white;
}


.weather {
    margin-top: -100px;
}
.iconWeather {
    width: 200px;
}

.desk {
    display: flex;
    padding: 10px;
}

.deskWeather {
    font-size: 30px;
    align-items: center;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;

}

.temp {
    margin: 0;
}

.city {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-weight: 300;
}


.buttonChangeTheme {
    border: none;
    background: none;
    position: fixed;
    right: 300px;
    border-radius: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    animation: 1.3s neon-2 alternate-reverse infinite;
}

.nightMode {
    color: white;
    background: #1e1e1e;
}

@keyframes neon-2 {
    from {
        box-shadow: 0 0 5px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #BFE2FF;
    }
    to {
        box-shadow: 0 0 20px #BFE2FF,
        0 0 35px #BFE2FF,
        0 0 40px #BFE2FF,
        0 0 50px #BFE2FF,
        0 0 800px #BFE2FF;
    }
}


@media screen and (max-width: 1370px) {
    .startText {
        font-size: 35px;
    }
    .formSearchCity {
        width: 700px;
        font-size: 25px;
    }
    .searchInput {
        font-size: 18px;
        width: 600px;
        height: 45px;
    }

    .geoPositionButton, .searchButton {
        height: 45px;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .startText {
        font-size: 25px;
    }
    .formSearchCity {
        width: 360px;
        font-size: 25px;
    }
    .weather {
        margin-top: 10px;
    }
    .searchInput {
        font-size: 15px;
    }
}


@media screen and (max-width: 414px) {
    .startText {
        width: 300px;
        font-size: 25px;
    }
    .formSearchCity {
        width: 400px;
        font-size: 25px;
    }
    .searchInput {
        font-size: 15px;
    }
    .weather {
        margin-top: 10px;
    }
    .city {
        font-size: 35px;
    }
    .iconWeather {
        width: 200px;
    }
    .temp {
        font-size: 30px;
    }
    .deskWeather {
        font-size: 30px;
    }
}

@media screen and (max-width: 380px) {
    .startText {
        width: 290px;
        font-size: 25px;
    }
    .formSearchCity {
        width: 360px;
        font-size: 25px;
    }
    .weather {
        margin-top: 10px;
    }
    .searchInput {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .startText {
        width: 290px;
        font-size: 20px;
    }
    .formSearchCity {
        width: 300px;
        font-size: 25px;
    }
    .searchInput {
        font-size: 14px;
    }

    .weather {
        margin-top: 10px;
    }
    .city {
        font-size: 25px;
    }
    .iconWeather {
        width: 150px;
    }
    .temp {
        font-size: 30px;
    }
    .deskWeather {
        font-size: 25px;
    }
}